html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #ccc;

}

.hero {
    background-image: url("/fotis-fotopoulos-DuHKoV44prg-unsplash.jpg");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.txt {

    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
    position: absolute;
    left: 17%;
    top: 40%;
    filter: drop-shadow(10px 10px 10px #fff);

}

.work {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 5rem;
    padding-bottom: 2em;

}

.img {
    background-image: url("/bg.avif");
    background-size: cover;

    width: 300px;
    height: 200px;
    filter: drop-shadow(10px 10px 5px rgb(12, 12, 12));
    border-radius: 10px;
    gap: 10px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: #ccc;

}

.wrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    position: relative;
    border-radius: 20px;
}

.wrapper .img div {
    font-weight: 400;
    color: rgb(21, 19, 19);
    position: absolute;
    left: 25%;
    top: 5%;
    text-transform: uppercase;
}

footer {
    display: flex;
    justify-content: space-around;
    font: bold;
    background-color: black;
    color: white;
    padding: 1rem;
    line-height: 1.5;
}

.aboutme {
    width: 50%;
}