* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    background-color: #ccc;

}

.calculator {
    border: 2px black solid;
    width: fit-content;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 10px;
}

.button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 8px;
    background-color: aliceblue;

}

button {
    width: 100px;
    font-size: larger;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.calculator input {
    height: 60px;
    width: 200px;
    text-align: center;
    font-size: larger;
    font-weight: 600;
    border-radius: 10px;

}

.calculator input:focus {
    outline: none;
    border: 2px rgb(140, 130, 247) solid;
}

button:hover {
    background-color: black;
    color: white;
    border: 2px #ccc solid;
}

.operators {
    width: 320px;
    padding: 3px;
    text-align: center;
    background-color: aliceblue;
}

.operators button {
    margin-top: 5px;
}